# SQL Practice Notebook

In [ ]:
-- Create Table
CREATE TABLE Students (
    id INT,
    name VARCHAR(50),
    marks INT
);

In [ ]:
-- Insert Values
INSERT INTO Students VALUES (1,'Dhruv',85);
INSERT INTO Students VALUES (2,'Aman',90);

In [ ]:
-- WHERE Clause
SELECT * FROM Students WHERE marks > 80;

In [ ]:
-- HAVING Clause
SELECT marks, COUNT(*) FROM Students GROUP BY marks HAVING COUNT(*) > 1;

In [ ]:
-- Find Duplicate Values
SELECT name, COUNT(*) FROM Students GROUP BY name HAVING COUNT(*) > 1;

In [ ]:
-- Joins Example
CREATE TABLE Courses (student_id INT, course VARCHAR(50));
SELECT Students.name, Courses.course
FROM Students
INNER JOIN Courses
ON Students.id = Courses.student_id;